@page
@using Gamebook.Enums
@model Gamebook.Pages.LoadOut

@{
    Layout = null;
    var loadOutResponse = Model.LoadOutPageResponse;
    string loadoutWear = default;
    switch (loadOutResponse.PlayerFocus)
    {
        case(null):
            break;
        case(PlayerFocus.Physics):
            loadoutWear = "Physics";
            break;
        case(PlayerFocus.Hack):
            loadoutWear = "Hack";
            break;
        case(PlayerFocus.Frajer):
            loadoutWear = "Physics Hack";
            break;
    }
    int healthPercent = (int)((double)loadOutResponse.PlayerStats.Health / (double)loadOutResponse.PlayerStats.MaxHealth * 100);
    int energyPercent = (int)((double)loadOutResponse.PlayerStats.Energy / (double)loadOutResponse.PlayerStats.MaxEnergy * 100);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/loadout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/root.css" asp-append-version="true" />
    <title>LoadOut</title>
</head>
<body class="loadout">

    <a class="button button--blue button--arrow" asp-page="/Location" asp-route-location="@loadOutResponse.CurrentLocation">Return To Game</a>

    <div class="container">

        <div class="loadout__cont loadout__cont--stats">
            <p class="cont__heading">Stats</p>
            <div class="cont__stats">
                <div class="cont__stat_item">
                    <p class="cont__stat__money">MONEY</p>
                    <p>@loadOutResponse.PlayerStats.Money</p>
                </div>
                <div class="cont__stat_item">
                    <div class="progress-bar progress-bar--health progress-bar--wide"><span style="width: @healthPercent%;" class="progress-bar__bar"></span></div>
                    <p>@loadOutResponse.PlayerStats.Health/@loadOutResponse.PlayerStats.MaxHealth</p>
                </div>
                <div class="cont__stat_item">
                    <div class="progress-bar progress-bar--energy progress-bar--wide"><span style="width: @energyPercent%;" class="progress-bar__bar"></span></div>
                    <p>@loadOutResponse.PlayerStats.Energy/@loadOutResponse.PlayerStats.MaxEnergy</p>
                </div>
            </div>
        </div>


        <div class="loadout__cont loadout__cont--weapon">
            <p class="cont__heading">Weapon</p>
            <div class="cont__weapon @loadOutResponse.Weapon"></div>
        </div>


        <div class="loadout__cont loadout__cont--inventory">
            <p class="cont__heading">Inventory</p>
            <div class="cont__inventory">
                <span class="cont__inventory__item"></span>
                <span class="cont__inventory__item"></span>
                <span class="cont__inventory__item"></span>
                <span class="cont__inventory__item"></span>
                <span class="cont__inventory__item"></span>
                <span class="cont__inventory__item"></span>
            </div>
        </div>
        
        
        <div class="loadout__cont loadout__cont--cyberware @loadoutWear">
            <p class="cont__heading">Cyberware</p>
            <div class="cont__cyberware">
                <span class="cont__cyberware__item"></span>
                <span class="cont__cyberware__item"></span>
            </div>
            <p class="cont__cyberware_text"></p>
        </div>

        <div class="loadout__cont loadout__cont--character">

            <p class="cont__heading">Character</p>
            <img src="~/images/character.png" alt="picture of a Shadow Viper">
        </div>

   
    
    </div>

</body>
</html>