@page "/location/{location}"
@using Gamebook.Enums
@model Gamebook.Pages.LocationModel

@{
    Layout = "_LocationLayout";
    var locationResponse = Model.LocationPageResponse;
}

<script>
    var locationResponseData = @Html.Raw(Json.Serialize(locationResponse));
</script>
<script src="~/js/main.js"></script>

@section Choices {
    @foreach (var target in locationResponse.TargetLocations)
    {
        if (target.Locked)
        {
            <a class="button hidden" asp-area="" asp-page="/Location" asp-route-location="@target.Location">@target.Location</a>
        }
        else
        {
            <a class="button" asp-area="" asp-page="/Location" asp-route-location="@target.Location">@target.Location</a>
        }

    }
}




@if (locationResponse.Hitbox == "Dialog") {
    <div class="textbox textbox--red hidden" id="textbox">
        <div class="textbox__container">
            <p class="textbox__character"></p>
            <button class="textbox__next"></button>
        </div>
        <p class="textbox__text"></p>
    </div>
}

@if (locationResponse.Hitbox == "Pin")
{
    <div class="pin pin--hidden" id="pin">
        <span class="pin__close"></span>
        <p class="pin__heading">Door Pin</p>
        <input id="pin-input" class="pin__input" type="number" min="0" max="99999">
        <p id="pin-attempts" class="pin__attempts">Attempts left: 10</p>
        <div class="pin__cont">
            <p class="pin__cont__heading">Attempt history</p>
            <div id="pin-history" class="pin_history">
            </div>
        </div>
        <button onclick="submitGuess()" class="button button--blue button--wide">Attempt Hack</button>
    </div>    
}


@if (locationResponse.Hitbox == "Fight")
{
    <div class="enemy-stats hidden" id="enemy-stats">
        <p class="enemy-stats__enemy">Enemy <span class="enemy-stats__enemy__pink"><span id="enemy-health">50</span>/<span id="enemy-max-health">50</span></span></p>
        <div class="progress-bar progress-bar--health"><span id="bar-enemy-health" class="progress-bar__bar"></span></div>
    </div>

    <div class="minigame--green_square hidden" id="game-container">
        <div class="minigame__square" id="green-square"></div>
        <div class="minigame__stick" id="stick"></div>
    </div>

}

<div class="choices hidden">
    <button class="button button--choice button--red choices__choice">Violence</button>
    <button class="button button--choice button--red choices__choice">Talk them Down</button>

    <p class="choices__text">Choose whether to deal with the gang violently or talk them down and scare them away.</p>

    <button class="button button--choice choices__submit">Submit</button>
</div>
