@page "/location/{location}"
@using Gamebook.Enums
@model Gamebook.Pages.LocationModel

@{
    Layout = "_LocationLayout";
    var locationResponse = Model.LocationPageResponse;
}

<script>
    var locationResponseData = @Html.Raw(Json.Serialize(locationResponse));
</script>
<script src="~/js/main.js"></script>

@section Choices {
    @foreach (var target in locationResponse.TargetLocations)
    {
        if (target.Locked)
        {
    <a class="button hidden" asp-area="" asp-page="/Location" asp-route-location="@target.Location">@target.Location</a>
        }
        else
        {
    <a class="button" asp-area="" asp-page="/Location" asp-route-location="@target.Location">@target.Location</a>
        }

    }
}


<div id="textbox" class="textbox textbox--red hidden">
    <div class="textbox__container">
        <p class="textbox__character"></p>
        <button class="textbox__next"></button>
    </div>
    <p class="textbox__text"></p>
</div>

<div class="pin hidden">
    <span class="pin__close"></span>
    <p class="pin__heading">Door Pin</p>
    <input class="pin__input" type="number" min="0" max="99999">
    <p class="pin__attempts">Attempts left: 10</p>
    <div class="pin__cont">
        <p class="pin__cont__heading">Attempt history</p>
        <div class="pin_history">
            <p>88888 0<span>W</span> 0L</p>
            <p>88888 0<span>W</span> 0<span>L</span></p>
            <p>88888 0<span>W</span> 0<span>L</span></p>
            <p>88888 0<span>W</span> 0<span>L</span></p>
            <p>88888 0<span>W</span> 0<span>L</span></p>
            <p>88888 0<span>W</span> 0<span>L</span></p>
            <p>88888 0<span>W</span> 0<span>L</span></p>
            <p>88888 0<span>W</span> 0<span>L</span></p>
            <p>88888 0<span>W</span> 0<span>L</span></p>
            <p>88888 0<span>W</span> 0<span>L</span></p>
        </div>
    </div>
    <button class="button button--blue button--wide">Attempt Hack</button>
</div>
